@import "../vars";
* {
  letter-spacing: -0.06em;
}
.hero {
  background-color: $black;
  width: 100%;
  color: $white;
  margin-bottom: 93px;
  div {
    padding-top: 180px;
    max-width: 680px;
    margin-left: auto;
    margin-right: 170px;
  }
}
form {
  max-width: 680px;
  margin-left: auto;
  margin-right: 170px;
  * {
    font-family: inherit !important;
    font-size: 36px !important;
    line-height: 39px !important;
    font-weight: 400 !important;
    color: $black !important;
    display: block !important;
    width: 100%;
    margin-bottom: 8px !important;
    box-shadow: none !important;
    outline: none !important;
  }
  input {
    padding: 5px 0 !important;
    border-radius: none !important;
    height: auto !important;
    border: none !important;
    border-bottom: 1px solid $black !important;
  }
  input::placeholder {
    color: $black !important;
  }
  textarea {
    resize: none !important;
    padding: 5px 0 !important;
    border-radius: unset !important;
    border: none !important;
    border-bottom: 1px solid $black !important;
    &::placeholder {
      color: $black !important;
    }
  }
  .submit input {
    position: absolute;
    border: none;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    width: 44px;
    height: 38px;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
  }
}
.link {
  margin-top: 93px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 95%;
  font-size: 180px;
}
.ball {
  position: relative;
  width: 196px;
  height: 196px;
  border-radius: 50%;
  background-color: $black;
  color: $white;
  transition: $transition-5;
  transition-property: color;
  font-size: 14px;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  a {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  div {
    position: relative;
    z-index: 2;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    border-radius: 50%;
    transform: scale(0);
    transition: $transition-5;
    transition-property: transform;
  }
  &:hover {
    color: $black;
    &::before {
      transform: scale(0.8);
    }
  }
}

@media screen and (max-width: $mobileBig) {
  .hero {
    margin-bottom: 38px;
    div {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      margin: auto;
    }
  }
  form {
    max-width: 100% !important;
    margin: auto !important;
    padding: 0 20px !important;
  }
  .link {
    display: block;
    font-size: 72px;
    margin: 66px auto;
    width: 100%;
    h1 {
      margin-bottom: 66px;
    }
    .ball {
      margin: auto;
    }
  }
}
