@import "../vars";
* {
  letter-spacing: -0.06em;
}
.hero {
  background-color: $black;
  width: 100%;
  color: $white;
  margin-bottom: 93px;
  div {
    padding-top: 180px;
    max-width: 680px;
    margin-left: auto;
    margin-right: 170px;
  }
}
form {
  width: 680px;
  margin-left: auto;
  margin-right: 170px;
  * {
    font-family: inherit !important;
    font-size: 36px !important;
    line-height: 39px !important;
    font-weight: 400 !important;
    color: $black !important;
    display: block !important;
    width: 100%;
    margin-bottom: 8px !important;
    box-shadow: none !important;
    outline: none !important;
  }
  input {
    padding: 5px 0 !important;
    border-radius: none !important;
    height: auto !important;
    border: none !important;
    border-bottom: 1px solid $black !important;
  }
  input::placeholder {
    color: $black !important;
  }
  textarea {
    resize: none !important;
    padding: 5px 0 !important;
    border-radius: unset !important;
    border: none !important;
    border-bottom: 1px solid $black !important;
    &::placeholder {
      color: $black !important;
    }
  }
  .form-group.submit {
    position: absolute;
    width: 44px;
    height: 38px;
    right: 7px;
    bottom: 0;
    z-index: 2;
    cursor: pointer;

    margin-bottom: 13px !important;
    &.has-err {
      div {
        &::before {
          background-color: $red;
        }
        &::after {
          border-color: $red;
        }
      }
    }
    div {
      position: relative;
      line-height: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
      &::before {
        content: "";
        width: 40px;
        height: 3px;
        background-color: $black;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        pointer-events: none;
      }
      &::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        border-right: 3px solid $black;
        border-bottom: 3px solid $black;
        transform: rotate(315deg);
        pointer-events: none;
        top: 8px;
        right: 7px;
      }
    }
    input {
      border: none;
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
      border: none !important;
      padding: 0 !important;
      margin-bottom: 0 !important;
    }
  }
}
.link {
  margin-top: 93px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 95%;
  font-size: 180px;
}
.ball {
  position: relative;
  width: 196px;
  height: 196px;
  border-radius: 50%;
  background-color: $black;
  color: $white;
  transition: $transition-5;
  transition-property: color;
  font-size: 14px;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  a {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  div {
    position: relative;
    z-index: 2;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    border-radius: 50%;
    transform: scale(0);
    transition: $transition-5;
    transition-property: transform;
  }
  &:hover {
    color: $black;
    &::before {
      transform: scale(0.8);
    }
  }
}

//Sucsess
input.form-control.parsley-success,
select.form-control.parsley-success,
textarea.form-control.parsley-success {
  background-color: $white !important;
  position: relative;
}

.checked {
  .form-group {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 12px;
      height: 12px;
      background-color: $green;
      border-radius: 50%;
      z-index: 3;
    }
    &.submit {
      &::before, &::after {
        content: none;
      }
    }
  }
}

.sended {
  opacity: .3;
  cursor: not-allowed;
  pointer-events: none;
}

.caldera-grid .alert-success {
  color: $green !important;
  background-color: $white !important;
  border: none !important;
  font-size: 14px !important;
  line-height: 21px !important;
  width: 680px;
  margin-left: auto;
  margin-right: 170px;
  margin-bottom: 0 !important;
  margin-top: -16px !important;
  text-transform: uppercase;
  padding: 0 !important;
  border-radius: 0 !important;
  text-shadow: unset !important;
  letter-spacing: -0.06em !important;
}

.help-block {
  display: none !important;
}
.has-error {
  &::before {
    background-color: $red !important;
  }
  .form-control {
    background-color: $white !important;
  }
}
.caldera-grid {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  justify-content: flex-end;
}

@media screen and (max-width: 1150px) {
  .link {
    font-size: 72px;
    margin: 66px auto;
    width: 100%;
    align-items: center;
    .ball {
      margin-right: 10vw;
    }
  }
}

@media screen and (max-width: $mobileBig) {
  .hero {
    margin-bottom: 38px;
    div {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      margin: auto;
    }
  }
  form {
    max-width: 100% !important;
    margin: auto !important;
    padding: 0 20px !important;
  }
  .link {
    display: block;
    font-size: 72px;
    margin: 66px auto;
    width: 100%;
    h1 {
      margin-bottom: 66px;
    }
    .ball {
      margin: auto;
    }
  }
  .caldera-grid .alert-success {
    max-width: 100%;
    margin-right: auto;
    padding: 0 20px !important;
  }
}
