.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #000000;
  overflow: hidden;
}

.hero h1 {
  font-size: 180px;
  line-height: 165px;
  letter-spacing: -0.06em;
  margin-left: 62px;
  position: relative;
  z-index: 2;
}

.hero img {
  position: absolute;
  top: 0;
  right: -20%;
  height: 100%;
  width: auto;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .hero {
    display: block;
  }
  .hero h1 {
    font-size: 72px;
    line-height: 72px;
    margin-left: 21px;
    margin-top: 190px;
  }
  .hero img {
    height: auto;
    width: 150%;
    right: auto;
    left: 0;
    bottom: 0;
    top: auto;
  }
}
