main {
  padding-bottom: 173px;
}

main * {
  letter-spacing: -0.06em;
}

.padding {
  padding: 0 60px;
}

.title {
  font-size: 180px;
  padding-top: 168px;
}

.subtitle {
  font-size: 72px;
  margin-top: 64px;
}

.types {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.types__title {
  margin-bottom: 5px;
}

.types__ul {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.types__item {
  font-size: 14px;
  text-transform: uppercase;
  padding-right: 37px;
  position: relative;
}

.types__item a {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.types__item a:hover {
  color: #f10000;
}

.types__item::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #f10000;
}

.types__item:last-child {
  padding-right: 0;
}

.types__item:last-child::before {
  display: none;
}

.types__item.active a {
  color: #00df8e;
}

.grid {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.grid a {
  width: 100%;
  height: 882px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.grid a:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.grid img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.grid .img_1 {
  width: calc(50% - 20px);
}

.grid .img_2 {
  width: calc(25%);
}

.grid .img_3 {
  width: 100%;
  height: 432px;
}

.grid .img_4 {
  width: 100%;
  height: 432px;
}

.grid .img_5 {
  width: calc(25% - 20px);
}

.grid .img_6 {
  width: calc(50%);
}

.grid .img_7 {
  width: calc(25% - 20px);
}

.grid .img_8 {
  width: calc(25% - 20px);
  height: 432px;
}

.grid .img_9 {
  width: calc(25% - 20px);
  height: 432px;
}

.grid .img_10 {
  width: calc(50%);
  height: 432px;
}

.grid .img_11 {
  width: calc(50% - 20px);
}

.grid .img_12 {
  width: calc(50% - 10px);
  height: 432px;
}

.grid .img_13 {
  width: calc(50% - 10px);
  height: 432px;
}

.grid .img_14 {
  width: 100%;
  height: 432px;
}

.grid div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(25% - 20px);
}

.grid .div_2 {
  width: calc(50%);
}

.button_mob {
  display: none;
}

.profit__title {
  font-size: 72px;
  margin: 276px 0 132px 14%;
}

.sl {
  padding-bottom: 134px;
}

.sl .swiper-slide {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.sl .swiper-slide img {
  width: 432px;
  height: 432px;
  -o-object-fit: cover;
     object-fit: cover;
}

.sl .swiper-slide:first-child {
  padding-left: 432px;
}

.sl .swiper-button-next,
.sl .swiper-container-rtl .swiper-button-prev {
  background-image: url(../../image/Vector.png);
}

.sl .swiper-button-prev,
.sl .swiper-container-rtl .swiper-button-next {
  background-image: url(../../image/Vector.png);
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.sl .swiper-button-next,
.sl .swiper-button-prev {
  top: auto;
  bottom: 0;
  margin-top: 0;
  background-size: auto;
  height: 102px;
  width: 102px;
  border: 1px solid #000000;
  border-radius: 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.sl .swiper-button-next.swiper-button-disabled,
.sl .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.hor-line {
  margin-top: 137px;
  height: 2px;
  background-color: #00df8e;
  border: none;
}

.clients__subtitle div {
  -webkit-transform: none;
          transform: none;
}

@media screen and (max-width: 800px) {
  .padding {
    padding: 0 20px;
  }
  .title {
    font-size: 72px;
  }
  .subtitle {
    font-size: 36px;
    margin-top: 16px;
  }
  .types {
    margin-top: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .types__title {
    font-size: 24px;
    margin-bottom: 64px;
  }
  .types__ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 0;
  }
  .types__item {
    margin-bottom: 4px;
    line-height: 21px;
  }
  .grid {
    margin-top: 10px;
    display: block;
  }
  .grid a {
    width: 100% !important;
    height: 335px !important;
    margin-bottom: 16px;
  }
  .grid .img {
    display: none;
  }
  .grid div {
    display: block;
    width: 100% !important;
  }
  .button_mob {
    width: 180px;
    height: 180px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #000000;
    font-size: 14px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 64px;
  }
  .profit__title {
    margin: 64px 0 32px 20px;
  }
  .sl {
    padding-bottom: 0;
    padding: 0 20px;
  }
  .sl .swiper-slide img {
    width: 100%;
    height: 335px;
  }
  .sl .swiper-slide:first-child {
    padding-left: 0;
  }
  .sl .swiper-button-next, .sl .swiper-container-rtl .swiper-button-prev {
    right: 20px;
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  .sl .swiper-button-prev,
  .sl .swiper-container-rtl .swiper-button-next {
    left: 20px;
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  .sl .swiper-button-next,
  .sl .swiper-button-prev {
    top: 50%;
    bottom: auto;
    margin-top: -26px;
    background-size: 32px 27px;
    height: 52px;
    width: 52px;
    border: 1px solid #000000;
    border-radius: 50%;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .hor-line {
    margin-top: 64px;
  }
}
