.cards {
  background-color: $black;
  position: relative;
  z-index: 3;
  &__title {
    padding-top: 10%;
    font-size: $big;
    width: 40%;
    margin-right: 150px;
    margin-left: auto;
    letter-spacing: -0.06em;
  }
  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 108px auto 0;
    padding-bottom: 60px;
    &-all {
      position: sticky;
      bottom: 0;
    }
  }
  &_space {
    height: 40vh;
  }
  &__item {
    border: 1px solid $green;
    position: relative;
    z-index: 3;
    padding: 24px;
    margin-right: 27px;
    width: 442px;
    height: 365px - 24 - 24;
    max-width: 30%;
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 4;
    }
    &:last-child {
      margin-right: 0;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: $green;
      z-index: 1;
      transition: $transition-1;
    }
    &:hover {
      &::before {
        bottom: 24px;
        right: 24px;
        width: 180px;
        height: 180px;
        border-radius: 50%;
      }
      .cards__name,
      .cards__description {
        color: $green;
      }
    }
  }
  &__name {
    letter-spacing: -0.05em;
    position: relative;
    z-index: 3;
    transition: $transition-1;
  }
  &__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    width: 50%;
    letter-spacing: -0.06em;
    position: relative;
    z-index: 3;
    transition: $transition-1;
    margin-top: 24px;
  }
  &__button {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 1px solid $black;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 24px;
    bottom: 24px;
    z-index: 3;

    &_text {
      font-size: 14px;
      line-height: 21px;
      width: 60%;
      text-align: center;
      letter-spacing: -0.06em;
      text-transform: uppercase;
    }
  }
}
@media screen and (max-width: 1300px) {
  .cards {
    &__wrap {
      margin-top: 64px;
      width: 95%;
      flex-direction: column;
    }
    &__item {
      margin-right: 0;
      margin-bottom: 27px;
      width: calc(100% - 24px - 24px);
      max-width: 450px;
      height: 365px - 24 - 24;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .cards {
    padding-bottom: 0;
    &__title {
      padding-top: 32px;
      font-size: $normal;
      width: 80%;
      margin: auto;
    }
    &_space {
      height: 0%;
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      background-color: $green;
      z-index: 4;
    }
  }
}

@media screen and (min-width: $mobileSmallNI) and (max-width: $mobile) {
  .cards {
    &__title {
      width: 300px;
      line-height: 39px;
    }
    &__description {
      max-width: 214px;
    }
    &__item {
      padding: 24px;
      padding-left: 36px;
      width: calc(100% - 36px - 24px);
      max-width: 85%;
    }
  }
}
