.hero__trigger_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.hero {
  background-color: $black;
  color: $white;
  font-size: 10vw;
  &_relative {
    position: relative;
    height: 100vh;
    width: 100%;
  }
  &__item {
    position: absolute;
    top: 50%;
    left: 62px;
    transform: translateY(-50%);
    letter-spacing: -0.06em;
    div {
      position: relative;
      overflow: hidden;
      padding: 20px 0;
      padding-right: 10px;
      h2 {
        transform: translateY(200%);
      }
    }
    &:first-child {
      div:first-child {
        h2 {
          transform: translateY(0%);
          visibility: hidden;
          animation: Herotext 1s ease-in-out;
          animation-delay: 0.1s;
        }
      }
      div:last-child {
        h2 {
          transform: translateY(0%);
          visibility: hidden;
          animation: Herotext 1.3s ease-in-out;
          animation-delay: 0.1s;
        }
      }
    }
  }
  &__subtitle {
    position: absolute;
    bottom: 46px;
    left: 62px;
    font-size: $normal;
    overflow: hidden;
    h3 {
      transform: translateY(130%);
    }
  }
  &__image {
    position: absolute;
    object-fit: contain;
    z-index: -1;

    height: 60%;
    width: auto;
    bottom: -100%;
    right: 10%;
    transform: translateY(50%);
    &_1 {
      height: 100%;
      right: -10%;
      bottom: 50%;
      visibility: hidden;
      animation: HeroImage 1s ease-in-out;
      animation-delay: 0.1s;
    }
  }
  &__image_wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    overflow: hidden;
  }
  i {
    font-style: italic;
    font-weight: 300;
  }
}

@media screen and (max-width: $mobile) {
  .hero {
    font-size: 72px;
    &__item {
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      div {
        padding: 0;
      }
    }

    &__image {
      height: auto;
      width: 60%;
      right: 10%;
      &_1 {
        right: -30%;
        width: 130%;
      }
    }
    &__image_wrap {
      left: 20%;
      width: 80%;
    }
    &__subtitle {
      font-size: 24px;
      width: 90%;
      left: 5%;
    }
  }
}
.animate {
  animation: none !important;
}

@keyframes Herotext {
  0% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes HeroImage {
  0% {
    right: 0%;
    bottom: 0%;
    height: 30%;
  }
}
