.why {
  position: relative;
  padding-top: 158px;
  color: $white;
  &__title {
    width: 98%;
    margin: auto;
    font-size: $large;
    line-height: 165px;
    letter-spacing: -0.06em;
    div {
      overflow: hidden;
      padding-bottom: 40px;
    }
    h2 {
      transform: translateY(130%);
    }
  }

  &__description {
    width: 40%;
    margin: 62px 10% 93px auto;
    letter-spacing: -0.05em;
    line-height: 39px;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }
  &__cross {
    position: relative;
    * {
      transition: $transition-3;
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    &::before {
      content: "";
      position: absolute;
      top: -50%;
      left: -50%;
      width: 78px;
      height: 78px;
      border: 1px solid $red;
      transform: rotate(0deg) scale(0);
      transition: $transition-3;
    }
    &:hover {
      .__cross {
        &_top,
        &_bottom {
          height: 24px;
        }
        &_left,
        &_right {
          width: 24px;
        }
      }
      &::before {
        transform: rotate(45deg) scale(1);
      }
    }
  }
}

.slide {
  position: relative;
  width: 90vw;
  height: 564px;
  margin-right: 0;
  margin-left: auto;

  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  &__item {
    border-left: 2px solid $green;

    display: flex;
    justify-content: center;
    align-items: center;
    &:first-child {
      .slide {
        &__image {
          width: 10vw;
          padding-left: 16px;
        }
        &__text {
          width: 25vw;
        }
      }
    }
  }
  &__image {
    width: 0;
    height: 100%;
    object-fit: cover;
  }
  &__number {
    font-size: $big;
    color: $green;
    letter-spacing: -0.06em;
    padding-left: 3vw;
  }
  &__text {
    width: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;
    padding-left: 3vw;
    h4 {
      letter-spacing: -0.05em;
      color: $green;
      margin-bottom: 35px;
      width: 300px;
    }
  }
  &__description {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: -0.06em;
    width: 300px;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 700px) {
  .why {
    padding-top: 45px;
    &__title {
      font-size: 1em;
      line-height: 35px;
      width: 90%;
      margin-right: 3%;
      div {
        padding-bottom: 5px;
      }
    }
    &__description {
      font-size: 14px;
      line-height: 21px;
      width: 90%;
      margin-right: 3%;
      margin-top: 32px;
    }
  }
  .slide {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 32px;
    &__item {
      align-items: start;
      justify-content: space-between;
      border: none;
      &:first-child {
        .slide {
          &__text {
            width: auto;
          }
        }
      }
    }
    &__image {
      display: none;
    }
    &__text {
      width: auto;
      padding: 0 13px 32px 30px;
      h4 {
        width: auto;
      }
    }
    &__number {
      padding-left: 0;
      min-width: 85px;
    }
    &__description {
      width: auto;
    }
  }
}
