//Header
$butWidth: 8px;
$butMargin: 4px;
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 90;
  &__logo {
    width: 141px;
    height: auto;
    margin: 33px;
  }
  &__button {
    cursor: pointer;
    position: relative;
    width: $butWidth * 3 + $butMargin * 2;
    height: $butWidth * 3 + $butMargin * 2;
    margin: 33px;
    &_open {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      transition: $transition-3;
      width: 100%;
      height: 100%;
      * {
        width: $butWidth;
        height: $butWidth;
        border-radius: 50%;
        background-color: $red;
        margin-right: $butMargin;
        position: relative;
        transition: $transition-3;
        &:nth-child(3n) {
          margin-right: 0;
        }
      }
      &:hover {
        .header__button_ {
          &1 {
            transform: translate(
              $butWidth + $butMargin,
              $butWidth + $butMargin
            );
          }
          &2 {
            transform: translate(0, $butWidth + $butMargin);
          }
          &3 {
            transform: translate(
              -$butWidth - $butMargin,
              $butWidth + $butMargin
            );
          }
          &4 {
            transform: translate($butWidth + $butMargin, 0);
          }
          &5 {
            &::before {
              width: 26px;
              height: 26px;
              transition-delay: 0.3s;
            }
            &::after {
              width: 32px;
              height: 32px;
              transition-delay: 0.3s;
            }
          }
          &6 {
            transform: translate(-$butWidth - $butMargin, 0);
          }
          &7 {
            transform: translate(
              $butWidth + $butMargin,
              -$butWidth - $butMargin
            );
          }
          &8 {
            transform: translate(0, -$butWidth - $butMargin);
          }
        }
      }
    }
    &_1,
    &_3,
    &_4,
    &_7 {
      background-color: $green;
    }
    &_5 {
      z-index: 2;
      &::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $red;
        transition: $transition-5;
      }
      &::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid $red;
        transition: $transition-5;
      }
    }
  }
  .cls-1 {
    fill: $white;
  }
  &.is-active {
    .cls-1 {
      fill: $black;
    }
  }
}
.close {
  width: 32px;
  height: 32px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 92;
  background-color: $black;
  margin-right: 0;
  justify-content: center;
  align-items: center;
  display: none;
  animation: fadeIn linear 0.3s;
  &:hover {
    .close_wrap {
      transform: rotate(90deg);
      &::before,
      &::after {
        background-color: $green;
      }
    }
  }
  &_wrap {
    width: 20px;
    height: 2px;
    margin: auto;
    background-color: unset;
    position: relative;
    transition: $transition-3;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      width: 20px;
      border-radius: 10px;
      background-color: $red;
      transform: rotate(45deg);
      transition: $transition-3;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      width: 20px;
      border-radius: 10px;
      background-color: $red;
      transform: rotate(-45deg);
      transition: $transition-3;
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 0;
  background-color: $white;
  z-index: 91;
  overflow: hidden;
  transition: $transition-1;
}

header.is-active {
  .header__button_open {
    opacity: 0;
  }
  .close {
    display: flex;
  }
  .nav {
    width: 100vw;
  }
}
