@import "reset";
@import "vars";
@import "header";
@import "footer";
body {
  font-family: $Font-poppins, "Tahoma", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
  width: 100%;
  color: $black;
  letter-spacing: normal;
  background-color: $white;
  margin: 0;
  padding: 0;
}

.green {
  color: $green;
}