@import url("reset.css");
@import url("../fonts/Poppins/poppins.css");
.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  z-index: 90;
}

.header__logo {
  width: 141px;
  height: auto;
  margin: 33px;
}

.header__button {
  cursor: pointer;
  position: relative;
  width: 32px;
  height: 32px;
  margin: 33px;
}

.header__button_open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}

.header__button_open * {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f10000;
  margin-right: 4px;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header__button_open *:nth-child(3n) {
  margin-right: 0;
}

.header__button_open:hover .header__button_1 {
  -webkit-transform: translate(12px, 12px);
          transform: translate(12px, 12px);
}

.header__button_open:hover .header__button_2 {
  -webkit-transform: translate(0, 12px);
          transform: translate(0, 12px);
}

.header__button_open:hover .header__button_3 {
  -webkit-transform: translate(-12px, 12px);
          transform: translate(-12px, 12px);
}

.header__button_open:hover .header__button_4 {
  -webkit-transform: translate(12px, 0);
          transform: translate(12px, 0);
}

.header__button_open:hover .header__button_5::before {
  width: 26px;
  height: 26px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.header__button_open:hover .header__button_5::after {
  width: 32px;
  height: 32px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.header__button_open:hover .header__button_6 {
  -webkit-transform: translate(-12px, 0);
          transform: translate(-12px, 0);
}

.header__button_open:hover .header__button_7 {
  -webkit-transform: translate(12px, -12px);
          transform: translate(12px, -12px);
}

.header__button_open:hover .header__button_8 {
  -webkit-transform: translate(0, -12px);
          transform: translate(0, -12px);
}

.header__button_1, .header__button_3, .header__button_4, .header__button_7 {
  background-color: #00df8e;
}

.header__button_5 {
  z-index: 2;
}

.header__button_5::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #f10000;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.header__button_5::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #f10000;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.header .cls-1 {
  fill: #ffffff;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 92;
  background-color: #000000;
  border-radius: 50%;
  margin-right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-animation: fadeIn linear 0.3s;
          animation: fadeIn linear 0.3s;
}

.close:hover .close_wrap {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.close:hover .close_wrap::before, .close:hover .close_wrap::after {
  background-color: #00df8e;
}

.close_wrap {
  width: 20px;
  height: 2px;
  margin: auto;
  background-color: unset;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.close_wrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 20px;
  border-radius: 10px;
  background-color: #f10000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.close_wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 20px;
  border-radius: 10px;
  background-color: #f10000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 0;
  background-color: #ffffff;
  z-index: 89;
  overflow: hidden;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav ul {
  list-style: none;
}

.nav__list {
  margin-right: 20%;
  -webkit-transition: 0s linear 0.25s;
  transition: 0s linear 0.25s;
  overflow: hidden;
}

.nav__item {
  font-size: 72px;
  letter-spacing: -0.06em;
  padding: 14px 105px;
  position: relative;
}

.nav__item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.nav__item:hover .nav__hover div:first-child {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.nav__item:hover .nav__hover div:last-child {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.nav__hover {
  overflow: hidden;
  height: 72px;
}

.nav__hover div {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding: 10px 0;
}

header.is-active .header__button_open {
  opacity: 0;
}

header.is-active .cls-1 {
  fill: #000000;
}

header.is-active .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.is-active .nav {
  width: 100vw;
}

.nav__list.is-active .nav__hover div:first-child {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav__list.is-active .nav__item:nth-child(1) .nav__hover div:first-child {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.nav__list.is-active .nav__item:nth-child(2) .nav__hover div:first-child {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.nav__list.is-active .nav__item:nth-child(3) .nav__hover div:first-child {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav__list.is-active .nav__item:nth-child(4) .nav__hover div:first-child {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.nav__list.is-active .nav__item:nth-child(5) .nav__hover div:first-child {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

@media screen and (max-width: 700px) {
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__list {
    margin-right: 0;
  }
  .nav__item {
    padding: 3vh 0;
  }
  .nav__item:first-child {
    padding-top: 0;
  }
  .nav__item:last-child {
    padding-bottom: 0;
  }
}

footer {
  font-size: 12px;
  font-weight: 400;
  background-color: #ffffff;
}

footer hr {
  color: #f10000;
  background-color: #f10000;
  border: 0px none;
  height: 1px;
  font-size: 0;
}

.footer_top {
  position: relative;
}

.footer_top img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__links {
  max-width: 20%;
  margin-left: 65%;
  margin-bottom: 48px;
  margin-top: 65px;
  line-height: 16px;
}

.footer__item {
  margin-bottom: 16px;
}

.footer__item:last-child {
  margin-bottom: 0;
  color: #f10000;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer__item:last-child a {
  position: relative;
  z-index: 2;
  display: block;
  padding-bottom: 8px;
}

.footer__item:last-child::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f10000;
  z-index: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer__item:last-child:hover {
  color: #ffffff;
}

.footer__item:last-child:hover::before {
  height: 100%;
}

.footer_bottom {
  padding: 26px 0 26px 10%;
  position: relative;
}

.footer__socials {
  position: absolute;
  top: 23px;
  left: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socials div {
  margin-right: 43px;
}

.footer__socials div:last-child {
  margin-right: 0;
}

.footer__copyright {
  font-weight: 600;
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  footer {
    font-size: 18px;
  }
  .footer_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 53px;
    padding-bottom: 32px;
  }
  .footer_top img {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 0;
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
  .footer_top div {
    max-width: 95%;
    text-align: center;
    margin: 52px auto 0;
  }
  .footer_top div p {
    margin-bottom: 18px;
  }
  .footer_top div p:last-child {
    color: #ffffff;
    font-size: 12px;
  }
  .footer_top div p:last-child a {
    display: block;
    padding: 10px 0;
    background-color: #f10000;
  }
  .footer_top div p:last-child::before {
    display: none;
  }
  .footer_bottom {
    padding: 32px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__copyright {
    max-width: 95%;
    margin: auto;
    text-align: center;
    line-height: 20px;
  }
  .footer__socials {
    position: relative;
    margin-bottom: 30px;
    top: 0;
    left: 0;
  }
  .footer__socials div {
    margin-right: 50px;
    width: 36px;
    height: 36px;
  }
  .footer__socials div svg {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

body {
  font-family: "Poppins", "Times New Roman", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
  width: 100%;
  color: #000000;
  letter-spacing: normal;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.green {
  color: #00df8e;
}
/*# sourceMappingURL=style.css.map */