.collage-1 {
  width: 1380px - 60px;
  max-width: calc(100% - 60px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 30px;
  div {
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &:nth-child(1) {
      max-width: calc(50% - 10px);
      width: 681px;
      margin-right: 20px;
    }
    &:nth-child(2) {
      max-width: calc(50% - 10px);
      width: 681px;
    }
    &:nth-child(3) {
      margin-top: 20px;
      width: 100%;
      height: 600px;
    }
  }
}
.collage-2 {
  width: 1380px - 60px;
  max-width: calc(100% - 60px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 30px;
  div {
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &:nth-child(1) {
      width: 100%;
      height: 603px;
      margin-bottom: 20px;
    }
    &:nth-child(2) {
      max-width: calc(50% - 10px);
      margin-right: 20px;
      width: 680px;
      height: 600px;
    }
    &:nth-child(3) {
      max-width: calc(50% - 10px);
      width: 680px;
      height: 600px;
    }
  }
}
.collage-3 {
  width: 1380px - 60px;
  max-width: calc(100% - 60px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 30px;
  div {
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &:nth-child(1) {
      max-width: calc(50% - 10px);
      width: 680px;
      height: 600px;
      margin-right: 20px;
    }
    &:nth-child(2) {
      max-width: calc(50% - 10px);
      width: 680px;
      height: 600px;
      width: 681px;
    }
    &:nth-child(3) {
      margin-top: 20px;
      width: 100%;
      height: 887px;
    }
  }
}
.one {
  .animBox {
    max-width: unset !important;
    width: 100% !important;
    height: 887px !important;
    margin-right: 0 !important;
  }
}
.video {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
.img-shadow {
  box-shadow: 0px 11px 25px rgba(0, 0, 0, 0.09);
}

.full-width {
  margin-top: 120px;
  width: 100%;
  height: 800px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.tablet {
  text-align: center;
  margin-top: 92px;
  overflow: hidden;
  img {
    object-fit: contain;
    max-width: 100%;
    height: 800px;
  }
}

@media screen and (max-width: $mobileBig) {
  .collage-1,
  .collage-2,
  .collage-3 {
    padding: 0;
    width: 100%;
    max-width: unset;
    div {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        margin-right: 0;
        margin-bottom: 12px;
        width: 100%;
        margin-top: 0;
        height: auto;
        max-width: unset;
      }
    }
  }
  .full-width {
    margin-top: 0;
    height: auto;
    line-height: 0;
    img {
      height: auto;
    }
  }
  .tablet {
    margin-top: 65px;
    img {
      height: auto;
    }
  }
}
