.col-typ {
  margin-top: 44px;
  margin-bottom: 150px;
  &__title {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    text-align: center;
    img {
      width: 120%;
      transform: translateX(-5%);
      &:last-child {
        display: none;
      }
    }
  }
  &_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 30px;
  }
}
.colors {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  div {
    &:nth-child(1) {
      width: 330px;
      height: 330px;
      background: linear-gradient(295.06deg, #9528cb 14.63%, #240b75 85.42%);
      margin-right: 12px;
    }
    &:nth-child(2) {
      width: 175px;
      height: 175px;
      margin-right: 12px;
      background: #ea5b1a;
    }
    &:nth-child(3) {
      width: 77px;
      height: 77px;
      margin-bottom: 98px;
      background: #561f99;
    }
  }
  &-shadow {
    filter: drop-shadow(17px 11px 50px rgba(0, 0, 0, 0.3));
  }
}
.typo {
  display: block;
  margin: auto;
  &_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__margin {
    &:first-child {
      margin-right: 72px;
    }
  }
  &__example {
    font-size: 100px;
    line-height: 90px;
    letter-spacing: 0.03em;
    font-weight: normal;
    margin-bottom: 32px;
  }
  &__name {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.03em;
  }

}

@media screen and (max-width: $mobileBig) {
  .col-typ {
    margin-top: 0;
    margin-bottom: 62px;
    &__title {
      img {
        display: none;
        &:last-child {
          display: block;
        }
      }
    }
    &_wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 20px;
    }
  }
  .colors {
    position: relative;
    margin-top: 62px;
    div {
      &:nth-child(1) {
        width: 212px;
        height: 193px;
        margin-right: 7px;
      }
      &:nth-child(2) {
        width: 112px;
        height: 112px;
      }
      &:nth-child(3) {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 0;
        left: 212px + 7px;
      }
    }
  }
  .typo {
    margin-top: 32px; 
    &__example {
      overflow: hidden;
      span {
        display: block;
      }
    }
  }
}
