.pin {
  background-color: $black;
  position: relative;
  margin: 82px 0;
  img {
    width: 100%;
    height: 100vh;
    object-fit: contain;
    position: relative;
    z-index: 2;
    margin-bottom: 120px;
  }
  .pin__background {
    width: 100%;
    height: 100vh;
    object-fit: contain;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
  }
}

@media screen and (max-width: $mobileBig) {
  .pin {
    margin: 0;
    margin-bottom: 12px;
    padding: 96px 0;
    img {
      height: auto;
      margin-bottom: 60px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .pin__background {
      height: auto;
      top: 96px;
    }
  }
}
