main {
  font-size: 180px;
  line-height: 165px;
}

* {
  letter-spacing: -0.06em;
}

@media screen and (max-width: 1050px) {
  main {
    font-size: 72px;
    line-height: 72px;
  }
}

.hero {
  background-color: #000000;
  color: #ffffff;
  padding: 0 30px;
  margin-bottom: 165px;
}

.hero__title {
  position: relative;
  z-index: 3;
  display: block;
  margin-right: 0;
  margin-left: auto;
}

.hero__text {
  width: 33%;
  height: 100vh;
  margin-right: 0;
  margin-left: auto;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__wrap {
  border: 2px solid #ffffff;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__wrap div {
  width: 60%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.main__title {
  position: absolute;
  top: 20px;
  z-index: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  word-wrap: break-word;
}

.main_wrap {
  position: relative;
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main__img {
  position: relative;
  z-index: 2;
  width: 66.6%;
}

.main__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__shadow img {
  -webkit-box-shadow: 0 4px 30px #000000;
          box-shadow: 0 4px 30px #000000;
}

.main__text {
  width: 33.3%;
  height: 100%;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__year {
  margin-right: 16px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.main__year_mobile {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(85%, -50%) rotate(-90deg);
          transform: translate(85%, -50%) rotate(-90deg);
  display: none;
}

.main__type {
  margin-left: 63px;
  margin-bottom: 5px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 1280px) and (min-width: 1050px) {
  .main__title {
    font-size: 120px;
    line-height: 100px;
  }
}

@media screen and (max-width: 1050px) {
  .main {
    display: block;
    height: auto;
    padding-top: 110px;
  }
  .main__title {
    position: static;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  .main_wrap {
    height: auto;
    display: block;
  }
  .main__img {
    width: 100%;
    height: auto;
    line-height: 0;
  }
  .main__img img {
    height: auto;
  }
  .main__year {
    display: none;
  }
  .main__year_mobile {
    display: block;
  }
  .main__type {
    margin-left: 0;
    margin-top: 32px;
    margin-bottom: 32px;
    overflow: hidden;
  }
  .main__type span {
    display: block;
  }
  .main__text {
    width: 100%;
    font-size: 36px;
    line-height: 39px;
  }
  .main__shadow img {
    -webkit-box-shadow: 0 4px 30px #000000;
            box-shadow: 0 4px 30px #000000;
  }
  .hero {
    padding: 0 20px;
    margin-bottom: 12px;
  }
  .hero__title {
    width: 100%;
  }
  .hero__text {
    width: 100%;
    height: auto;
    padding-bottom: 112px;
    margin-top: 50px;
  }
  .hero__wrap {
    height: auto;
    padding: 76px 0 62px;
  }
  .hero__wrap div {
    width: 83%;
  }
}

.collage-1 {
  width: 1320px;
  max-width: calc(100% - 60px);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 30px;
}

.collage-1 div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.collage-1 div:nth-child(1) {
  max-width: calc(50% - 10px);
  width: 681px;
  margin-right: 20px;
}

.collage-1 div:nth-child(2) {
  max-width: calc(50% - 10px);
  width: 681px;
}

.collage-1 div:nth-child(3) {
  margin-top: 20px;
  width: 100%;
  height: 600px;
}

.collage-2 {
  width: 1320px;
  max-width: calc(100% - 60px);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 30px;
}

.collage-2 div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.collage-2 div:nth-child(1) {
  width: 100%;
  height: 603px;
  margin-bottom: 20px;
}

.collage-2 div:nth-child(2) {
  max-width: calc(50% - 10px);
  margin-right: 20px;
  width: 680px;
  height: 600px;
}

.collage-2 div:nth-child(3) {
  max-width: calc(50% - 10px);
  width: 680px;
  height: 600px;
}

.collage-3 {
  width: 1320px;
  max-width: calc(100% - 60px);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 30px;
}

.collage-3 div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.collage-3 div:nth-child(1) {
  max-width: calc(50% - 10px);
  width: 680px;
  height: 600px;
  margin-right: 20px;
}

.collage-3 div:nth-child(2) {
  max-width: calc(50% - 10px);
  width: 680px;
  height: 600px;
  width: 681px;
}

.collage-3 div:nth-child(3) {
  margin-top: 20px;
  width: 100%;
  height: 887px;
}

.one .animBox {
  max-width: unset !important;
  width: 100% !important;
  height: 887px !important;
  margin-right: 0 !important;
}

.video {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.video video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.img-shadow {
  -webkit-box-shadow: 0px 11px 25px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 11px 25px rgba(0, 0, 0, 0.09);
}

.full-width {
  margin-top: 120px;
  width: 100%;
  height: 800px;
}

.full-width img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tablet {
  text-align: center;
  margin-top: 92px;
  overflow: hidden;
}

.tablet img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  height: 800px;
}

@media screen and (max-width: 1050px) {
  .collage-1,
  .collage-2,
  .collage-3 {
    padding: 0;
    width: 100%;
    max-width: unset;
  }
  .collage-1 div:nth-child(1), .collage-1 div:nth-child(2), .collage-1 div:nth-child(3),
  .collage-2 div:nth-child(1),
  .collage-2 div:nth-child(2),
  .collage-2 div:nth-child(3),
  .collage-3 div:nth-child(1),
  .collage-3 div:nth-child(2),
  .collage-3 div:nth-child(3) {
    margin-right: 0;
    margin-bottom: 12px;
    width: 100%;
    margin-top: 0;
    height: auto;
    max-width: unset;
  }
  .full-width {
    margin-top: 0;
    height: auto;
    line-height: 0;
  }
  .full-width img {
    height: auto;
  }
  .tablet {
    margin-top: 65px;
  }
  .tablet img {
    height: auto;
  }
}

.col-typ {
  margin-top: 44px;
  margin-bottom: 150px;
}

.col-typ__title {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  text-align: center;
}

.col-typ__title img {
  width: 120%;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
}

.col-typ__title img:last-child {
  display: none;
}

.col-typ_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 30px;
}

.colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 1920px;
  position: relative;
  margin: auto;
}

.colors div:nth-child(1) {
  width: 330px;
  height: 330px;
  margin-right: 12px;
}

.colors div:nth-child(2) {
  width: 175px;
  height: 175px;
  margin-right: 12px;
}

.colors div:nth-child(3) {
  width: 77px;
  height: 77px;
  margin-bottom: 98px;
}

.colors div:nth-child(4) {
  width: 77px;
  height: 77px;
  position: absolute;
  top: 0;
  left: 342px;
}

.colors-shadow {
  -webkit-filter: drop-shadow(17px 11px 50px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(17px 11px 50px rgba(0, 0, 0, 0.3));
}

.typo {
  display: block;
  margin: auto;
}

.typo_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.typo__margin:nth-child(2) {
  margin-left: 72px;
}

.typo__example {
  font-size: 100px;
  line-height: 90px;
  letter-spacing: 0.03em;
  font-weight: normal;
  margin-bottom: 32px;
}

.typo__name {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1050px) {
  .col-typ {
    margin-top: 0;
    margin-bottom: 62px;
  }
  .col-typ__title img {
    display: none;
  }
  .col-typ__title img:last-child {
    display: block;
  }
  .col-typ_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 20px;
    overflow: hidden;
  }
  .colors {
    position: relative;
    margin-top: 62px;
  }
  .colors div:nth-child(1) {
    width: 212px;
    height: 193px;
    margin-right: 7px;
  }
  .colors div:nth-child(2) {
    width: 112px;
    height: 112px;
  }
  .colors div:nth-child(3) {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 219px;
  }
  .colors div:nth-child(4) {
    width: 50px;
    height: 50px;
    left: 276px;
  }
  .typo {
    margin-top: 32px;
  }
  .typo__example {
    overflow: hidden;
  }
  .typo__example span {
    display: block;
  }
}

.pin {
  background-color: #000000;
  position: relative;
  margin: 83px 0;
}

.pin img {
  width: 100%;
  height: 100vh;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  z-index: 2;
  margin-bottom: 120px;
}

.pin .pin__background {
  width: 100%;
  height: 100vh;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 1050px) {
  .pin {
    margin: 0;
    margin-bottom: 12px;
    padding: 96px 0;
  }
  .pin img {
    height: auto;
    margin-bottom: 60px;
  }
  .pin img:last-child {
    margin-bottom: 0;
  }
  .pin .pin__background {
    height: auto;
    top: 96px;
  }
}

.links {
  text-align: center;
}

.ball {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #000000;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 32px auto 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.ball a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 2;
}

.ball::before {
  content: "";
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.ball div {
  position: relative;
  z-index: 1;
}

.ball:hover {
  color: #ffffff;
}

.ball:hover::before {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  margin-bottom: 92px;
}

.arrows__left, .arrows__right {
  width: calc(345px - 2px);
  height: calc(345px - 2px);
  border-radius: 50%;
  border: 1px solid #000000;
  position: relative;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrows__left:hover {
  border: 14px solid #000000;
  width: calc(345px - 28px);
  height: calc(345px - 28px);
}

.arrows__left:hover .arrows_a {
  width: 226px;
}

.arrows__right:hover {
  border: 14px solid #000000;
  width: calc(345px - 28px);
  height: calc(345px - 28px);
}

.arrows__right:hover .arrows_a {
  width: 226px;
}

.arrows a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 2;
}

.arrows_a {
  width: 136px;
  position: relative;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.arrows_a div:first-child {
  width: 136px;
  height: 10px;
  background-color: #000000;
  position: relative;
}

.arrows_a div:first-child::before {
  content: "";
  width: 80px;
  height: 80px;
  border-top: 10px solid #000000;
  border-left: 10px solid #000000;
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(-45deg);
          transform: translate(0, -50%) rotate(-45deg);
}

.arrows_a div:last-child {
  position: absolute;
  top: 50%;
  right: 0;
  width: 70px;
  height: 10px;
  background-color: #000000;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.arrows_b div:first-child {
  margin-right: 0;
  margin-left: auto;
}

.arrows_b div:first-child::before {
  left: auto;
  right: 10px;
  -webkit-transform: translate(0, -50%) rotate(135deg);
          transform: translate(0, -50%) rotate(135deg);
}

.arrows_b div:last-child {
  left: 0;
  right: auto;
}

@media screen and (max-width: 1050px) {
  .ball {
    margin: 12px auto 64px;
  }
  .arrows {
    margin-bottom: 64px;
    padding: 0 20px;
  }
  .arrows__left, .arrows__right {
    width: calc(102px - 2px);
    height: calc(102px - 2px);
  }
  .arrows_a {
    width: 80px;
  }
  .arrows_a div:first-child {
    width: 80px;
    height: 6px;
  }
  .arrows_a div:first-child::before {
    width: 40px;
    height: 40px;
    border-top: 6px solid #000000;
    border-left: 6px solid #000000;
    left: 6px;
  }
  .arrows_a div:last-child {
    display: none;
  }
  .arrows_b div:first-child::before {
    left: auto;
    right: 6px;
  }
  .arrows__right:hover {
    border: 5px solid #000000;
    width: calc(102px - 10px);
    height: calc(102px - 10px);
  }
  .arrows__right:hover .arrows_a {
    width: 80px;
  }
  .arrows__left:hover {
    border: 5px solid #000000;
    width: calc(102px - 10px);
    height: calc(102px - 10px);
  }
  .arrows__left:hover .arrows_a {
    width: 80px;
  }
}

.banner {
  margin-top: 15px;
  margin-bottom: 117px;
  position: relative;
}

.banner img {
  -o-object-fit: cover;
     object-fit: cover;
}

.banner__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.banner__background img {
  width: 100%;
  height: 100%;
}

.banner_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.banner__big {
  width: 620px;
  max-width: 50%;
  height: 680px;
  margin-top: 405px;
}

.banner__big img {
  width: 100%;
  height: 100%;
}

.banner__top {
  width: 340px;
  height: 440px;
  margin-left: 52px;
  margin-top: 87px;
}

.banner__top img {
  width: 100%;
  height: 100%;
}

.banner__bottom {
  width: 370px;
  height: 390px;
  display: block;
  margin-left: 121px;
  margin-top: 65px;
}

.banner__bottom img {
  width: 100%;
  height: 100%;
}

.banner_shadow {
  -webkit-box-shadow: 17px 11px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 17px 11px 50px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1050px) {
  .banner {
    margin-top: 12px;
    margin-bottom: 0;
  }
  .banner__background {
    height: 40%;
  }
  .banner_wrap {
    padding: 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 64px;
    overflow: hidden;
  }
  .banner_wrap div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .banner__big {
    width: 274px;
    height: auto;
    margin-top: 100px;
    max-width: unset;
    margin-bottom: 28px;
    position: relative;
    z-index: 2;
  }
  .banner__top {
    width: 165px;
    height: auto;
    margin-left: 0;
    margin-top: 0;
  }
  .banner__bottom {
    width: 144px;
    height: auto;
    margin-left: 25px;
    margin-top: 0;
    position: relative;
    z-index: 1;
  }
}

.web .col-typ {
  margin-top: 0;
}

.web .pin {
  margin-bottom: 0;
}

.web .banner {
  margin-top: 0;
}

.web .full-width {
  margin-top: 0;
}

.screenshots {
  position: relative;
  margin-top: 124px;
}

.screenshots__background {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 70%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.screenshots__top {
  max-width: 60%;
  height: auto;
  position: relative;
  z-index: 2;
  margin-left: 10%;
  margin-bottom: 90px;
}

.screenshots__bottom {
  max-width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: 10%;
  position: relative;
  z-index: 2;
  display: block;
}

@media screen and (max-width: 1050px) {
  .screenshots__top, .screenshots__bottom {
    max-width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */