@import "../vars";

main {
  font-size: 180px;
  line-height: 165px;
}
* {
  letter-spacing: -0.06em;
}


@media screen and (max-width: $mobileBig) {
  main {
    font-size: 72px;
    line-height: 72px;
  }
}

@import "disc/hero";
@import "disc/collages";
@import "disc/colors";
@import "disc/pin";
@import "disc/links";
@import "disc/banner"; 
@import "disc/web";
